.dashboard-container {
  height: calc(~"100vh - "@header-height);
  overflow-y: auto;
  padding-bottom: 10px;

  .dashboard {
    display: flex;
    flex-wrap: wrap;

    @import "overview.less";
    @import "newEntry.less";
  }
}