.filter-bar {
  font-size: 14px;
  padding: 5px;
  .filter-group {
    display: inline;
    margin-right: 10px;
    label {
      margin-right: 10px;
    }
    select {
      background: @white;
      border: 1px solid @light-gray;
      font-size: 14px;
      text-align: left;
      padding: 5px 10px;
    }
  }
}