.new-entry {
  flex: 1 0 350px;
  padding: 10px;
  .shadow;
  border-radius: 5px;
  margin: 10px 10px 0;
  .new-entry-header {
    .roboto;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid @shadow-color;
  }
}

@media (min-width: 640px) {
  .new-entry .entry-form .form-group .day-picker .date-picker {
    top: calc(~"100% + 5px");
    bottom: auto;
  }
}