.overview {
  flex: 1 0 300px;
  padding: 10px;
  .shadow;
  border-radius: 5px;
  margin: 10px 10px 0;
  .overview-header {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid @shadow-color;
    label {
      .roboto;
      flex: 1;
      text-transform: capitalize;
    }
    .day-picker {
      flex: 0 0 150px;
      font-weight: normal;
      input {
        text-align: right;
        border: none;
        font-size: 16px;
      }
    }
  }
  .bounty-list {
    .bounty {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      label {
        .rank {
          margin-right: 8px;
        }
      }
      span {

      }
    }
  }
}